*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: azure;

}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
#box{
    height: 100%;
    width:100%;
    background-color: rgb(11, 11, 48);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#box1{
    background-color: goldenrod;
    height: 200px;
    width: 200px;
    /*position: absolute;
    top: 50%;
    z-index: 18;
    left: 50%;
    background-position: center;
    background-size: cover;
    background-image: url('C:\Users\likhitha\Desktop\Doraemon1.webp');*/


}
#box2{
    height: 200px;
    width: 200px;
    background-color:crimson;
    /*left:200px;
    top:0;
    position: absolute;
    z-index: 13;
    background-position: center;
    background-size: cover;
    background-image: url('C:\Users\likhitha\Desktop\nobita2.jpg');*/
}
#box3{
    height: 200px;
    width: 200px;
    background-color: aqua;
    /*top:0;
    left: 400px;
    position: absolute;
    z-index: 14;
    background-position: center;
    background-size: cover;
    background-image: url('C:\Users\likhitha\Desktop\shizuka.png');*/

}
/*#parent{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: relative;
}
#child{
    height: 100px;
    width:100px;
    background-color: cadetblue;
    position: absolute;
    left: 50%;

}*/
