*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: azure;

}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
#parent{
    height: 100%;
    width:100%;
    background-color: rgb(51, 86, 97);
    padding:40px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
.child{
    flex-shrink: 0;
    height: 100px;
    width: 100px;
    /*background-image:url("nobita2.jpg");*/
    border-radius: 8px ;
    background-size: cover;
    background-position: center;

}