*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    /*width:100%;*/
    height: 100%;
}
body{
    background-color: #111;
}
.parent{
    height: 300px;
    width: 300px;
    background-color: wheat;
    display: grid;
    /*grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 300px;*/
    grid-template-areas: 
    "a c b"
    "a c b"
    "a c b" ;
}
.child{
    
    background-color: red;
    border: 2px solid black;
}

.child-a{
    
    grid-area:a;
    background-color: blue;
}

.child-b{
    
    grid-area:b;
    background-color: purple;
}

.child-c{
    
    grid-area:c;
    background-color: greenyellow;

}