*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: azure;

}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
.parent{
    height: 100px;
    width: 100px;
    background-color: red;
}
@media(max-width:600px){
    .parent{
         width:300px;
         height: 300px;
         background-color: aquamarine;

    }
    
}