*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    /*width:100%;*/
    height: 100%;
}
@media(min-width:820px){
    images{
    display: grid;
    grid-template-areas: 
     "a a b c"
     "a a d e"
     "f g h i"
     "k l j j"
     "k l j j" ;
     gap: 20px;

    }
   
}
img{
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
   
}
.images{
    /*height: 100%;*/
    width: 100%;
    background-color: wheat;
   display: grid;
   grid-template-areas: "a"
   "b"
   "c"
   "d"
   "e"
   "f"
   "g"
   "h"
   "i"
   "j"
   "k"
   "l";
   gap: 10px;
}
.image-a{
    grid-area: a;
}
.image-b{
    grid-area: b;
}
.image-c{
    grid-area: c;
}
.image-d{
    grid-area: d;
}
.image-e{
    grid-area: e;
}
.image-f{
    grid-area: f;
}
.image-g{
    grid-area: g;
}
.image-h{
    grid-area: h;
}
.image-i{
    grid-area: i;
}
.image-j{
    grid-area: j;
}
.image-k{
    grid-area: k;
}
.image-l{
    grid-area: l;
}

