*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.card{
    border: 1px solid #bf3737;
    width:fit-content; 
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}