.parent{
    width: 200vw;
    height: 200vh;
    background-color: wheat ;
}
.child{
    width: 100vw;
    height:100vh;
    background-color: red;
}
html{
    font-size: 50px;
}
h1{
    font-size: 2em;
}